<header>
    <nav>
    <div class="wrapper">
      <div class="logo" style="margin-left: -29%;"><a href="#">Stack</a></div>    

      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">  
      <ul class="nav-links" style="margin-left: 9%;">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        
        <!-- Search bar -->
        <li>
          <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
            <a href="#">Search</a>
          </div>
        </li>

        <li>
          <a href="#" class="desktop-item">Categories</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Categories</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Development</header>
                <ul class="mega-links">
                  <li><a href="#">Sotware Development</a></li>
                  <li><a href="#">Data Science</a></li>
                  <li><a href="#">Web Development</a></li>
                  <li><a href="#">Software Testing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Business</header>
                <ul class="mega-links">
                  <li><a href="#">Entrepreneurship</a></li>
                  <li><a href="#">E-Commerce</a></li>
                  <li><a href="#">Business law</a></li>
                  <li><a href="#">Sales</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Finance & Accounting</header>
                <ul class="mega-links">
                  <li><a href="#">Finance</a></li>
                  <li><a href="#">Accounting & bookkeeping</a></li>
                  <li><a href="#">Investing & Trading</a></li>
                  <li><a href="#">Taxes</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Plans & Pricing</a></li>
        <li><a href="#">Udemy Business</a></li>
        <li><a href="#">Teach on Udemy</a></li>
        <!-- <li>
          <a href="#" class="desktop-item">Dropdown Menu</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a href="#">Drop menu 1</a></li>
            <li><a href="#">Drop menu 2</a></li>
            <li><a href="#">Drop menu 3</a></li>
            <li><a href="#">Drop menu 4</a></li>
          </ul>
        </li> -->
        <li><a href="#">Carts</a></li> <p>&nbsp;</p>
        <li><a href="https://www.udemy.com/join/login-popup/?locale=en_US&response_type=html&next=https%3A%2F%2Fwww.udemy.com%2F">LogIn</a></li> <p>&nbsp;</p>
        <li><a href="https://www.udemy.com/join/signup-popup/?locale=en_US&response_type=html&next=https%3A%2F%2Fwww.udemy.com%2Fjoin%2Flogin-popup%2F%3Flocale%3Den_US%26response_type%3Dhtml%26next%3Dhttps%253A%252F%252Fwww.udemy.com%252F">SignUp</a></li>
    </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
</header>

<body>
<app-home></app-home>
</body>